; -*- mode: clojure; -*-
; vim: filetype=clojure

(logging/init {:file "riemann.log"})

(tcp-server {:tls? false
             :key "test/data/tls/server.pkcs8"
             :cert "test/data/tls/server.crt"
             :ca-cert "test/data/tls/demoCA/cacert.pem"})

(instrumentation {:interval 1})

; Subscribe to everything being indexed and process it in a stream function.
(subscriber "index"
  (where (service "riemann streams rate")
    prn))

(udp-server)
(ws-server)
(repl-server)

(periodically-expire 1)

(let [index (default :ttl 3 (index))]
  (streams
    (expired #(prn "Expired" %))
    (where (not (service #"^riemann "))
           prn
           index)))
